html,
body {
  margin: 0;
  padding: 0;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kirang-haerang-regular {
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
}


/*style de base du body pour chaque page*/
.pagebleu {
	line-height: 1.4;
	letter-spacing: -0.03rem;
	background-color: var(--bleu);
}
.pageverte {
	line-height: 1.4;
	letter-spacing: -0.03rem;
	background-color: var(--vert);
}
.pagerouge {
	line-height: 1.4;
	letter-spacing: -0.03rem;
	background-color: var(--rouge);
}
.pageciel {
	line-height: 1.4;
	letter-spacing: -0.03rem;
	background-color: var(--ciel);
}

/*style des heros*/
.heroprogramme {
  background-color: var(--bleu);
  font-family : "Madimi One";
  color : var(--blanc);
}
.hero {
  background-image: url("/assets/img/img16.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 35vh;        /* hauteur du hero */
  display: flex;           /* permet de centrer le contenu */
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  margin : 0;
}
.hero__btn {
  background-color: var(--bleu);
  color: var(--blanc);
  border: 3px solid var(--vert);
  padding: 1rem 1rem;
  font-family: "Kirang Haerang";   
  font-size: 1rem;
  cursor: pointer;
}

.header {
	background-color: var(--vert);
  	color: var(--bleu);
    display: flex;
    align-items: center;      /* aligne verticalement logo + bouton */
    justify-content: space-between; /* logo à gauche, bouton à droite */
    padding: 1rem;
}
.header__menu-btn {
    width: 2rem; /* Largeur totale de l'icône*/
    height: 0.875rem;  /*Hauteur totale de l'icône*/
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*Espacement uniforme entre les barres*/
    cursor: pointer;
	background: none;
	border: none;
}

.menu-btn__bar {
    display: block;
    width: 100%;
    height: 0.15rem; /* Épaisseur de la barre */
	background-color: var(--bleu);
	border-radius: 3px; /*Bords arrondis*/
}
