/* couleur */
:root {
  /* Mode 1 */
  /* color */
  --blanc: #ffffff;
  --bleu: #0015ff;
  --ciel: #71b3ff;
  --rouge: #ff0000;
  --vert: #44ff00;
}
/* typo */
:root {
  /* Mode 1 */
  /* string */
  --string-t-p: Madimi One;
  --string-artiste: Kirang Haerang;
  --string-info: Kmer;
}
/* space */
:root {
  /* Mode 1 */
  /* number */
  --space-lefestival: 0.5625rem;
  --space-header-h1: 1.125rem;
  --space-header-h2: 1.1875rem;
  --space-programme: 1.3125rem;
  --space-header-b1: 1.4375rem;
  --space-scene-g: 1.4375rem;
  --space-header1: 1.5rem;
  --space-header-b2: 1.5rem;
  --space-footer-d: 2.025rem;
  --space-footer-g: 2.025rem;
  --space-header2: 2.875rem;
  --space-contact: 3rem;
}