.section__btn {
  background-color: var(--bleu);
  color: var(--blanc);
  border: 3px solid var(--vert);
  padding: 1rem 2rem;
  font-family: var(--string-artiste);   
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem
}

.section__btn2 {
  background-color: var(--rouge);
  color: var(--blanc);
  border: 3px solid var(--vert);
  padding: 2rem 4rem;
  font-family: var(--string-t-p);   
  font-size: 1rem;
  cursor: pointer;
}