
.btn {
  font-family: var(--string-artiste), cursive;
  font-size: 1rem;
  cursor: pointer;
}

.btn2 {
  font-family: var(--string-t-p), sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.hero__btn {
  background-color: var(--bleu);
  color: var(--blanc);
  border: 3px solid var(--vert);
  padding: 1rem 1rem;
  font-family: var(--string-artiste), cursive;   
  font-size: 1rem;
  cursor: pointer;
}

.section__btn {
  background-color: var(--bleu);
  font-family: var(--string-artiste), cursive;
  color: var(--blanc);
  border: 3px solid var(--vert);
  padding: 1rem 2rem;
  margin-bottom: 0.5rem
}

.section__btn2 {
  background-color: var(--rouge);
  font-family: var(--string-t-p), sans-serif;
  color: var(--blanc);
  border: 3px solid var(--vert);
  padding: 2rem 4rem;
  margin-bottom: 1rem
}

.pass__btn {
  background-color: var(--blanc);
  font-family: var(--string-t-p), cursive;
  color: var(--bleu);
  padding: 0.4375rem 2.8125rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem
}

.contactsubmit-btn {
  background-color: var(--vert);
  color: var(--bleu);
  border: none;
  padding: 0.75rem 2rem;
  font-family: var(--string-t-p);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  margin-top: 1rem;
  align-self: center;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.carousel__btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.carousel__btn:hover {
  opacity: 0.8;
}

.btn__fleche,
.btn__fleche2 {
  font-size: 2.5rem;
  color: var(--blanc);
  font-weight: bold;
  background: none;
	border: none;
}

.bouton-haut {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background-color: var(--vert);
  border: 2px solid var(--vert);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.bouton-haut.visible {
  opacity: 1;
  visibility: visible;
}

.bouton-haut:hover {
  background-color: var(--vert);
}

.bouton-haut__icone {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

